*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: #2d4490;
    color: white;
    padding: 30px;
}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;

}

nav ul #espacamento-logo{
    margin-left: 80px;
}

nav ul li{
    margin-right: 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: "Bitcount", sans-serif;
}

nav ul li a:hover{
    text-decoration: underline;
}

.logo{
    width: 15%;
}



body{
    background-color: #b0daffbb;
}

.text-principal{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    font-size: 50px;
    font-family: "Bitcount", sans-serif;
    color: #0D5FA6;
}

.alinha-card{
    display: flex;
    align-items: center;
    justify-content: center !important;
    align-content: center;
}

.card{
    background-color: #0A2C59;
    width: 500px;
    height: 450px;
    border-radius: 15px;
    margin-top: 15px;
}